html
    include partials/head.pug
    body(class = "mainB")
        h1 Kim's Convenience
        h2 Developed By
            ul
                each developer in showdata.developedBy
                    li(class = 'dev')= developer
        h2 Satrring
        ul
            each star in showdata.starring
                li(class = 'dev')= star
        h2 Seasons
        ul
            for season in showdata.seasons
                li(class = 'dev')
                    a(href = `season/${season.number}`)= `Season ${season.number}`
                

                
