html
    head
        body
        h1 Kim's Convenience
        h2 Developed By
            ul
                each developer in kimC.developers
                    li= developer
        h2 Satrring
            ul
                each star in kimC.starring
                    li= star
        h2 Seasons
            ul
                each season in kimC.seasons
                    li= season
                

                
